/*File name: main.css*/
/*This file is used to style Design.html, projects.html and contact us.html.*/
/*Author: Haichen.Gao and Xiaotian.Gu*/
/*Date: 2017/4/7*/

/*Set the attribute of the Logo on the top-left corners of the three webpages*/
#logo {font-family: Brush Script MT; font-style: italic; font-size: 30px; color: white; overflow:hidden; position: absolute; top: -20px}

/*Set the backgrounds of the webpages*/
#aboutusba {background-image: : url(img/about us.jpg); background-size: cover;background-repeat:no-repeat;
    background-position:top;}
#contactusba {background-image: url(img/contact us.jpg); background-size: cover; background-repeat:no-repeat;
    background-position:top;}
#projectsba {background-image: url(img/projects.jpg); background-size: cover; background-repeat:no-repeat;
    background-position:top;}

/*Set the attribute of all the list elements(the NavBar and the Logo)*/
li
{
float:right;
list-style-type:none;
}

/*Attribute of the NavBar*/
.nav {
margin:0;
padding:0;
overflow:hidden;
font-family: sans-serif;
}

/*Set the attribute of the linked elements*/
.anchor:link,.anchor:visited
{
display:inline-block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color: none;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

/*Set the attribute when mouse moves over the select elements*/
.anchor:hover,.anchor:active
{
background-color:#cc0000;
}

/*The font attribute of the slogans of the three webpages*/
.slogan {
  font-family: fantasy;
  color: white;
  width: 50%;
	text-align: center;
	position: absolute;
	font-size: 2em;
	top: 35%;
	left: 25%;
}

/*The font attribute of the text of the contact us.html*/
.text{
  font-family:sans-serif ;
  color:black;
  width: 50%;
	text-align: center;
	position: absolute;
	font-size: 2em;
	top: 150%;
	left: 25%;
}

/*Set the attribute of the main text(introductions) of the three webpages*/
#aboint {color: white; background-color: #000066;padding: 80px; width: 70%; text-align: center; position: absolute; top: 95%; left: 7%; font-family: sans-serif;}
#conint {color: white; background-color: #CC3333;padding: 80px; width: 70%; text-align: center; position: absolute; top: 95%; left: 7%; font-family: sans-serif;}
#proint {color: white; background-color: #FFCC00;padding: 80px; width: 70%; text-align: center; position: absolute; top: 95%; left: 7%; font-family: sans-serif;}

/*Set the attributes of the pictures and introductions of the projects.html*/
#project1 { width: 300px; position: absolute; top: 145%; left: 7%; z-index: 0; }
#project1int {color: white; background-color: #FFCC66; padding: 30px;padding-left: 80px; width: 53%; text-align: justify; font-family: sans-serif; position: absolute; top: 150%; right: 8%; z-index: -1;}
#project2 { width: 300px; position: absolute;; top: 200%; left: 7%; z-index: 0; }
#project2int {color: white; background-color: #FFCC66; padding: 30px;padding-left: 80px; width: 53%; text-align: justify; font-family: sans-serif; position: absolute; top: 205%; right: 8%; z-index: -1;}

/*Set the attributes of the pictures and introductions of the Design Studio.html*/
#ghc{ width: 250px; position: absolute; top: 145%; left: 7%; z-index: 0; }
#ghcint {color: white; background-color: #00CCFF; padding: 30px;padding-left: 80px; width: 53%; text-align: justify; font-family: sans-serif; position: absolute; top: 150%; right: 8%; z-index: -1;}
#gxt { width: 250px; position: absolute;; top: 200%; left: 7%; z-index: 0; }
#gxtint {color: white; background-color: #00CCFF; padding: 30px;padding-left: 80px; width: 53%; text-align: justify; font-family: sans-serif; position: absolute; top: 210%; right: 8%; z-index: -1;}

/*Set the attributes of the footers of the three webpages*/
#table1 {background: #000066; position: absolute; top: 800px; width: 98%; position: absolute; top: 250%}
#table2 {background: #FFCC00; position: absolute; top: 800px; width: 98%; position: absolute; top: 250%}
#table3 {background: #CC3333; position: absolute; top: 800px; width: 98%; position: absolute; top: 250%}

/*The size of the footers*/
#left {font-family: Brush Script MT; font-style: italic; font-size: 24px; color: white;}
#right {font-family: sans-serif; color: white; text-align: right;}

/*-----------------main.css end-------------------------*/
