
h5{color:white; background:#006000; left:20px; font-size: 12pt; padding: 15px;}
table,th {padding:10px;text-align:left;color:#22261e;font-family:fantasy;font-size: 16pt}
table,td {border:1px solid lightgray; padding:15px; background: #9FB28C;font-family:serif;font-size: 12pt}
.abls {padding:15px; border:2px solid #006000; background:#EFFFD7;font-family: monospace;font-size: 15pt}
.protil{background-image: url(beijing.png); background-repeat: repeat}
.res{padding:10px;text-align:left;color:#22261e;font-family:fantasy;font-size: 20pt}
.rea{padding:8px;text-align:center;color:#474e41;font-family:fantasy;font-size: 16pt}
.reh{padding:10px;text-align:left;color:#344128;font-family:serif;font-size: 13pt}
.rek{color:#344128;font-family:serif; font-size:15pt}
.jsn{font-size:20pt }
