body {
    background-image: url(img/starry.jpg);
    background-attachment: fixed;
    position: relative;
    font-family: Osaka, Tahoma;
    color: white;
    margin-bottom: 3em;
}
p {
    line-height: 200%;
    word-spacing: 7px;
}
h1 {
    font-family: Zapfino, Tahoma;
    font-size: 6em;
    text-align: center;
}
h2, h3 {
    color: black;
    font-family: Optima, serif;
    margin: 10px;
}
h3 {
    padding-top: 40px;
}
table {
    width: 100%;
    margin: 10px;
}
tr {
    height: 2em;
}
.info {
    background-image: url(img/bg.png);
    color: black;
    margin: 20px;
    padding: 10px;
}

caption {
    text-align: left;
}
.menu{
    text-align: center;
}
.menu ul {
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu li {
    float: left;
}
.menu a:link, .menu a:visited
{
    display: block;
    width: 180px;
    font-weight: normal;
    font-family: Tahoma;
    color: white;
    background-image: url(img/menu.png);
    border-style: groove;
    border-width: 0.5px;
    border-color: grey;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu a:hover, .menu a:active {
    background-image: none;
    background-color: inherit;
}
a:link {
    display: inline-block;
    width: auto;
    color: #3a58da;
}
a:visited {
    color: #5fadbc;
}
a:hover, a:active {
    background-color: white;
}
#tb6{width:500px;margin : 0 auto}
.tp3 img{width:600px;margin :0 auto;}
.h{color: white;font-size: 45px;text-align: center;}


#ct img {
    width: 40px;
    text-align: left;
    padding-right: 3em;
}
#ct ul {
    list-style-type: square;
    margin-left: 2em;
}
#ct li {
    padding-bottom: 2em;
}
