#sky { 
  position: absolute;
  z-index: -1;
  margin:0px;
  padding:0px}

#welcome {
  background: #FFD2D2; 
  color: black; font-size:18pt;
  font-family:courier;
  position:relative;
  top:200px; 
  left:100px}

.button {
  width:180px;
  height:40px; 
  font-size:18pt;   
  font-family:Arial;
  position:absolute;
  }

#button1 {
  top:300px;
  left:120px}

#button2 {
  top:300px; 
  left:550px}

#button3 {
  top:300px; 
  left:1000px}

#button4 {
  top:50px;
  left:120px}

#button5 {
  top:50px; 
  left:550px}

#button6 {
  top:50px; 
  left:1000px}

#handcraft {
  background: #FFD2D2;
  color: black;
  font-size:12pt;
  font-family:courier;   position:relative;
  top:300px;
  left:100px
}

#smile {
  position:relative;
  top:-30px; 
  left:600px£ý

  