/* set page size*/
*{
    padding:0px;/*distance between element content and element border*/
    margin:0px;/*distance between element and element*/
    max-width: 100%;
}

/*navigation class*/
.nav{
  list-style: none;/*remove the small points*/
  text-align: center;/*center align*/
  font-family: Century Gothic;/*set the font*/
  font-size: 15pt;
  background-color: #000000;
  width:100%;
  height:10%;
  position: fixed;/* navigation will fix on the top of the window
  and will not move with the contents*/
}
.nav ul{
  color:#ffffff;
  padding-top:1%;
  width:100%;
}
.nav li{
  display: inline;/*the unordered list will be horizontal*/
  text-align: center;
}
.nav a{
  text-decoration: none;/* remove the underline of hyperlink*/
  color:#ffffff;
}
/*animation of link*/
.nav a:active,a:hover{
  background-color: #ffffff;
  color:#000000;
  transition: 0.5s;/*let the button have gradient*/
}



.studio{
    background-image: url(resource/bg.jpeg);/*link to image in the resource file*/
    /*ensure that the image can cover the whole division and will not repeat*/
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top:225px;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom:225px;
    color: #ffffff;
    font-family: Century Gothic;/*set the font*/
    font-size: 72pt;
    text-shadow: 2pt 2pt 2pt #808080;/*give text some shadow*/
}


.intro{
  text-align: left;
  font-family: Century Gothic;
  line-height: 180%;
  padding-top: 100px;
  padding-bottom:100px;
  padding-left: 25%;
  padding-right: 25%;
  width:50%;
  font-size: 15pt;
}


.chair{
  margin-top: 200px;
  margin-bottom:200px;
  float: left;
  padding-left: 10%;
}
#chair:hover{/*zoom-out animation*/
  transform:scale(0.95);
  transition: 0.5s;
}

.hairdryer{
  margin-top: 200px;
  margin-bottom:200px;
  float: right;
  padding-right: 10%;
  transition: 0.5s;
}
#hairdryer:hover{
  transform:scale(0.95);
  transition: 0.5s;
}


.contents{
  width: 100%;
  height:80%;
  font-family: Century Gothic;/*set the font*/
  float: left;
}
.contents table{
  padding-top: 200px;
padding-bottom: 100px;
}
.contents tr td{
  width:40%;
}
.contents tr td img{
  padding-left: 10%;
}
.contents tr td p{
  padding-left: 10%;
  padding-right:10%;
}

.contact{
background-image: url(resource/contactme.jpeg);/*link to image in the resource file*/
/*ensure that the image can cover the whole division and will not repeat*/
background-size: cover;
background-repeat: no-repeat;
}


.feedback{
margin-left: auto;
margin-right: auto;
width:40%;
padding-top:150px;
padding-left:30%;
font-family: Century Gothic;/*set the font*/
}

.feedback textarea{
  height:50px;
}

.contactme{
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 100px;
  padding-bottom: 150px;
}


mark{
  background-color: #EEEEEE;
}/*change the original yellow to grey*/
